body {
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
}

#body {
  margin: 0em auto;
  width: 1024px;
}

#header {
  padding: .5em;
}

#header h3 {
  display: inline;
}

#metaControls {
  text-align: right;
  1float: right;
}

.leftMenu {
  float: left;
  width: 200px;
}

#menu div {
  padding: 1em 1em;
}

#content {
  margin-left: 12px;
  float: left;
  width: 810px;
}

table {
  font-size: 100%;
}
