<html xmlns:wicket="http://wicket.apache.org">
<body>
  
  <form wicket:id="form">

    <fieldset>
      <legend>Contact</legend>

      <div wicket:id="nameField">
        <input wicket:id="name">
      </div>
      <div wicket:id="emailField">
        <input wicket:id="email">
      </div>
      <div wicket:id="birthDateField">
        <input wicket:id="birthDate">
      </div>
      <div>
        <button wicket:id="send">Send</button>
      </div>

    </fieldset>
    
  </form>

</body>
</html>